@media all and (min-width: 1024px) {
  .logo {
    display: none;
  }
}


@media all and (max-width: 1024px) {


  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Header and Main navbars */
  .logo-container {
    float: left;
  }
  .logo {
    display: inline-block;
    height: 80px;
    width: 120px;
    background-color: black;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
    text-align: center;
    
  }

  .nav1, .nav2 {
    display: inline-block;
    width: calc(100% - 120px);
    white-space: nowrap;
  }

  .netherlands span {
    margin-left: 140px;
  }

  /* Hero section */


  .hero-articles {
    height: 350px;
  }

  .main-hero-article {
    background-image: url("images/pleiades.jpg");
  }


  .article-date {
    display: none;
  }

  .main-logo {
    display: none;
  }

  .article-title {
    font-size: 35px;
  }

  .secondary-hero-article .article-title {
    font-size: 20px;
  }

  .secondary-hero-article .article-info {
    font-size: 12px;
  }


/* Latest Rounds */
  .latest-rounds .section-nav {
    display: block;
  }

  #last-round {
    display: none;
  }

/* Article Categories */

  .category-articles {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 768px) {
 
  .container {
    grid-template-columns: 1fr;
  }

  /* Header and Main Navbars */

 .nav1, .nav2 {
   display: none;
 }

 .logo {
   height: 50px;
   line-height: 50px;
 }

 .netherlands {
   margin-top: 50px;
   height: 70px;
   line-height: 70px;
   text-align: center;
 }

 .netherlands span {
  margin: 0;
 }

 .logo-shifter {
   height: 0;
 }

 /* Hero section */
 
  .hero-articles {
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   height: 450px;
 }

 .article-title {
   font-size: 20px;
 }

 .article-class {
   font-size: 12px;
 }

 .main-hero-article {
   grid-column: auto;
   grid-row: auto;
 }

 .secondary-hero-article {
   grid-column: auto;
   background-size: 750px;
 }


 
 /* Latest News Articles */

 .latest-news-article img {
   float: left;
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-right: 10px;
 }



 .category-articles {
   grid-template-columns: 1fr;
 }

 /* Article Categories */
 
  .category-popular-article {
    height: 500px;
  }

  /* Latest Deals */

  .deal img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }

  .original-price {
    font-size: 12px;
  }

  .sale-price {
    font-size: 15px;
  }

}