html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* General */

.main-sections {
  max-width: 1150px;
  margin: auto;
  padding: 20px;
}

a {cursor: pointer}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.section-nav {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  line-height: 40px;
  
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: tomato;
}

.title span {
  vertical-align: middle;
  font-size: 15px;
}

.title a:hover {
  color: #000;
}

.article-title-container {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.article-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.article-info {
  color: lightgray;
}

.article-class {
  font-weight: 200;
}


/* Header/Navs */




header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #fff;
} 



.nav1 {

  height: 30px;
  background-color: black;
  line-height: 30px;
  font-weight: 200;
}

.primary-group-links {
  vertical-align: middle;
  padding-left: 20px;
  width: 100%;
}

.nav1 li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  
}

.news-link {
  color: #fff;
  cursor: pointer;
}

.nav1-link {
  color: #b6b2b2;
  cursor: pointer;
  
}

.nav1-link span {
  font-size: 7px;
  vertical-align: middle;
}

.secondary-group-links {
  float: right;
}

.nav2 {
  height: 50px;
  line-height: 50px;
  background-color: white;
  color: lightgray;
  font-weight: 300;
}

.nav2-links {
  vertical-align: middle;
  padding-left: 20px;
}

.nav2 li {
  display: inline-block;
  margin-right: 20px;
}

.netherlands {
  display: block;
  height: 25px;
  line-height: 25px;
  width: 100%;
  background-color: #ffd900;
}

.netherlands span {
  margin-left: 20px;
  font-weight: 200;
  font-size: 14px;
  vertical-align: middle;
}

/* Hero section */

.hero-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
  height: 450px;
  margin: 0 8px;
  padding-top: 108px;
  color: #fff;
  font-weight: 200;
}


.main-hero-article {
  position: relative;
  background-color: gray;
  grid-column: 1 / 3;
  grid-row: span 2;
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.249), #dd76765d 50%, #e72929a5), url("images/pleiades.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 50% 50%;
}

.article-date {
  float: right;
  padding: 20px;
}

.main-logo {
  font-size: 80px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 30px;
}

.secondary-hero-article {
  position: relative;
  grid-column: 3 / 4;
  background-color: gray;
  background-position: 50% 50%;
  background-size: 420px;
  background-repeat: no-repeat;
  
}

.secondary-hero-article .article-title {
  font-size: 25px;
  margin-bottom: 10px;
}


#first-secondary {background-image: url("images/sunset.jpg");}

#second-secondary {background-image: url("images/sunset.jpg");}

/* Latest News Articles */

.latest-news {
  margin-bottom: 100px;
}





.latest-news-article img {
  width: 100%;
}

.latest-article-title {
  font-weight: 600;
}

.latest-article-info {
  font-size: 12px;
  color: #949191;
  font-weight: 200;
  margin-top: 10px;
}

/* Latest Rounds */

.latest-rounds-links {
  float: right;
  font-size: 16px;
  font-weight: 200;
  color: tomato;
}

.latest-rounds-links a:hover {
  color: #000;
}



.round-title {
  display: inline-block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: tomato;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.round-title span {
  margin-left: 80px;
}
.round-header img {
  position: relative;
  top: -20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border: none;
}

.amount-container {
  background-color: mistyrose;
}

.round-amount {
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

.kind {
  font-size: 12px;
  font-weight: 200;
  color: gray;
}

.tag {
  margin-bottom: 8px;
}

.round-tags {
  padding: 10px;
  border-bottom: 1px solid tomato;
  font-size: 16px;
  background-color: #fdf6f1;
  padding: 20px
}

.round-info {
  background-color: #fdf6f1;
  font-weight: 200;
  padding: 20px;
}

.round-location {
  color: gray;
}

.category-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 80px;
}

/* Article Categories */


.category {
  
}

.category-popular-article {
  position: relative;
  height: 300px;
  background-image: url("images/pleiades.jpg");
  background-size: 100%;
  background-position: 50% 50%;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #fff;
  overflow: hidden;
}


.popular-article-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}


.category-latest-article {
  height: 80px;
  background-color: #faf4f3;
  color: tomato;
}

.category-latest-article img {
  float: right;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.category-latest-article .article-class {
  padding: 5px;
  font-weight: 200;
}

.latest-article-title {
  margin-left: 5px;
  padding-right: 5px;
}

.category-list-articles {
 margin-left: 18px;
 color: tomato;
}

.category-list-articles li {
  padding: 8px 0 8px 0;
  border-bottom: 1px solid lightgray;
  font-weight: 200;
}

.category-list-articles li:last-child {
  border: none;
}

.category-list-articles a {
  color: #646363;
}

.category-list-articles a:hover {
  color: black;
}

.deal {
  height: 200px; /* Eventually content-dependant */
  background-color: hotpink;
}

footer {
  height: 250px;
  background-color: black;
}


